body  {
    margin: 0;
    padding: 0;
}
  
.navbar {    
    margin: 0;
    padding: 0;
    position: fixed;
    list-style-type: none;
    width: min-content;
    
    height: 100%;
    overflow: auto;
    background-color: aliceblue;
}

li a  {
    display:inline-block;
    text-decoration: none;
    color:blue;
    cursor: default;
    width: 100%;
    padding: 14px;

}

 a.anasayfa{
    background-color: #555;
    color:darkgreen;
}

a:hover:not(.anasayfa) {
    background-color: blue;
    color:gold;
}

.menu {
    display: inline-block;
    width: 100%;
}

.menu-tus{
    display: inline-block;
    width: 100%;
}

.menu-icerik {
    display: none;
    min-width: 100%;
    position: absolute;
}

.menu-icerik a{
    display: block;
    color: black;
    background-color:cyan;
    
}

.menu-icerik a:hover{
    color: cyan;
    background-color:black;
}

.menu:hover .menu-icerik {
    display: block;
}

p{
    text-indent: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}
